<!DOCTYPE html>
<html>
<head>
    <title>Answer Questions</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>
    <h1>Answer Questions</h1>
    <button id="back-button">Back to Main Page</button>
    <div id="qa-container"></div>
    <button id="submit-answers">Submit</button>
    <div id="feedback"></div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../components/Answer/Answer.js"></script>
</body>
</html>