<!DOCTYPE html>
<html>
<head>
    <title>Feedback</title>
</head>
<body>
    <h1>Feedback</h1>
    <% for(let i = 0; i < feedback.feedback.length; i++) { %>
        <p><%= feedback.feedback[i] %></p>
    <% } %>
</body>
</html>