<!DOCTYPE html>
<html>
<head>
    <title>Welcome To ReadSmart AI</title>
    <link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>
    <h1 class="centered-title">ReadSmart AI</h1>
    <div class="button-container">
        <button class="centered-button" onclick="window.location.href='/login/teacher'">Log in as Teacher</button>
        <button class="centered-button" onclick="window.location.href='/login/student'">Log in as Student</button>
        <button class="centered-button" onclick="window.location.href='/login/register'">Register New Account</button>
    </div>
</body>
</html>