<!DOCTYPE html>
<html>
<head>
    <title>Teacher Login</title>
    <link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>
    <h1 class="centered-title">Teacher Login</h1>
    <div class="centered-form">
        <form action="/login/teacher" method="post">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>
            <div class="button-container">
                <input type="submit" value="Log In">
            </div>
        </form>
    </div>
</body>
</html>