<!DOCTYPE html>
<html>
<head>
    <title>Student Homepage</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <style>
        .classrooms {
            height: 200px;
            overflow-y: scroll;
            outline: 2px solid #000; /* Add an outline */
            width: 100%; /* Make it go across the entire screen */
            padding: 0 20px; /* Add padding on the sides */
            box-sizing: border-box; /* Include padding and border in element's total width and height */
            margin-top: 20px; /* Add margin at the top */
        }
    </style>
</head>
<body>
    <%- include('partials/student_navbar') %>
    <h1>Welcome, <%= user.name %>!</h1>
    <button onclick="location.href='/student/classroom/join'">Join a Classroom</button>
    <h2>Select Classroom</h2>
    <div class="classrooms">
        <% classrooms.forEach(function(classroom) { %>
            <p><a href="/Student/classroom/<%= classroom.invite_code %>"><%= classroom.name %></a></p>
        <% }); %>
    </div>
</body>
</html>