<!DOCTYPE html>
<html>
<head>
    <title>Text Sources</title>
</head>
<body>
    <h1>Text Sources for <%= teacher.name %></h1>
    <button onclick="location.href='/Teacher/text_sources/upload'">Upload Text Source</button>

    <table>
        <thead>
            <tr>
                <th>File Name</th>
            </tr>
        </thead>
        <tbody>
            <% textSources.forEach(function(textSource) { %>
                <tr>
                    <td><%= textSource.name %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>